extends layout

block content
  div.content
    h1= title
    each message in messages 
      div.message 
        .top 
          h3= message.title 
          if (user && user.status == 'admin')
            form.delete(action=`/delete/${message._id}`, method="post") 
              button.delete(type='submit') Delete
        p= message.text
        div.bottom
          if (user && user.status != 'user')
            p= message.user.name 
            p= message.date 
          else 
            p ???
            p ???
        

